@charset "utf-8";
*{margin:0; padding:0;}
html{ font-size:62.5%;}
body{font-family:"微软雅黑"; margin:0px auto; padding:0px;width:100%;height:100%; max-width:75rem; background:#3d3e53; overflow-x:hidden;-webkit-user-select:none;-webkit-text-size-adjust:none;}
ul,li,h1,h2,h3,h4,h5,p,input,dl,dt,dd,table,th,td,ol,form,bdo,em,i{margin:0;padding:0;list-style:none;}
img{ border:0; vertical-align:top;}
a:link,a:visited{ text-decoration:none; color:#333;} a:hover{ text-decoration:none;}


.webchat{ display:block; overflow:hidden; max-width:75rem; margin:0 auto;}
.webchat ul li{ border-bottom:1px solid #36374b; padding:12px 10px; overflow:hidden;}
.imgbox{float:left; width:22%; display:block;}
.imgbox img{ width:100%; width:50px; height:50px; border-radius:5px; margin:5px auto 0; border:1px solid #eee; background:#f7f7f7;}
.nameBox{float:right; width:78%; height:auto; height:50px; background:url(../images/jiantouRight.png) no-repeat right center; background-size:10px 17px;}
.nameBox p{ line-height:25px; font-size:16px; color:#333; text-align:left;}
.nameBox p strong{ font-weight:normal; font-family:Arial, Helvetica, sans-serif; color:#fff;}
.nameBox p bdo{ font-size:1.2rem; color:#999; font-family:Arial, Helvetica, sans-serif;}
.nameBox .huoyue{ background:url(../images/huo.png) no-repeat 7px center; background-size:15px; line-height:20px; font-size:12px; color:#463b7f; border:1px solid #da5050; border-radius:15px; padding:2px 11px 2px 25px;}
.nameBox .chenmo{ background:url(../images/huo2.png) no-repeat 7px center; background-size:15px; line-height:20px; font-size:12px; color:#999; border:1px solid #eee; border-radius:15px; padding:2px 11px 2px 25px;}
.nameBox .guanzhu{ background:url(../images/guanzhu.png) no-repeat 0px center; background-size:15px; line-height:20px; font-size:12px; color:#999; border-radius:15px; padding:2px 11px 2px 18px;}
.nameBox .guanzhu2{ background:url(../images/guanzhu22.png) no-repeat 0px center; background-size:15px; line-height:20px; font-size:12px; color:#f6c107; border-radius:15px; padding:2px 11px 2px 18px;}
.nameBox .biaotag{ background:url(../images/qianbi.png) no-repeat 7px center; background-size:15px; line-height:20px; font-size:12px; color:#999; border-radius:15px; padding:2px 11px 2px 25px;}
.nameBox .duanxin{ background:url(../images/duanxin.png) no-repeat 7px center; background-size:15px; line-height:20px; font-size:12px; color:#999; border-radius:15px; padding:2px 11px 2px 25px;}
.nameBox .duanxin2{ background:url(../images/duanxin2.png) no-repeat 7px center; background-size:15px; line-height:20px; font-size:12px; color:#999; border-radius:15px; padding:2px 11px 2px 25px;}

.telicon{ float:right; width:40px; height:40px; background:url(../images/tel.png) no-repeat center center #e3e0f4; background-size:20px; display:block; border-radius:40px; margin-top:5px;}

.footerbar{width:100%; height:40px; background:rgba(242,242,242,1); border-top:1px solid #eee; position:fixed; bottom:0; left:0; right:0; display:block; padding:4px 0; z-index:9999;max-width:75rem; margin:0 auto;}
.footerbar ul li{float:left; width:25%; display:block; text-align:center;}
.footerbar ul li span{ display:block; font-weight:normal;}
.home{background:url(../images/liaotian.png) no-repeat center 2px; padding-top:26px; height:14px; display:block; background-size:20px; font-size:12px; color:#463b7f;}
.homehui{background:url(../images/liaotian2.png) no-repeat center 2px; padding-top:26px; height:14px; display:block; background-size:20px; font-size:12px; color:#999;}
.quan{background:url(../images/guke.png) no-repeat center 2px; padding-top:26px; height:14px; display:block; background-size:22px; font-size:12px; color:#463b7f;}
.quanhui{background:url(../images/guke2.png) no-repeat center 2px; padding-top:26px; height:14px; display:block; background-size:22px; font-size:12px; color:#999;}
.admin{background:url(../images/wo.png) no-repeat center 3px; padding-top:26px; height:14px; display:block; background-size:20px; font-size:12px; color:#463b7f;}
.adminhui{background:url(../images/wo2.png) no-repeat center 3px; padding-top:26px; height:14px; display:block; background-size:20px; font-size:12px; color:#999;}
.order{background:url(../images/shop.png)) no-repeat center 2px; padding-top:26px; height:14px; display:block; background-size:22px; font-size:12px; color:#463b7f;}
.orderhui{background:url(../images/shop2.png) no-repeat center 2px; padding-top:26px; height:14px; display:block; background-size:22px; font-size:12px; color:#999;}


.askbox{width:100%; background:#463b7f; height:44px; display:block; position:fixed; left:0; top:0; right:0; z-index:999; overflow:hidden; max-width:75rem; margin:0 auto;}
.askboxcon{ position:absolute; left:0; top:0; width:100%; height:44px; display:block;}
.askbox span{ float:left; width:15%; height:44px; text-align:center; background:url(../images/fanhui.png) no-repeat 15px center; background-size:12px 21px;}
.askbox bdo{ float:right; width:15%; height:44px; text-align:center;}
.askbox h2{ text-align:center; width:70%; line-height:44px; color:#fff; font-size:18px; float:left; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
.askbox bdo img{ width:40px; height:40px; padding:2px; margin:0 auto; border-radius:40px;}

.toolbar{ width:100%; background:#f7f7f7; height:49px; display:block; overflow:hidden; position:fixed; left:0; right:0; bottom:0; z-index:99999999; border-top:1px solid #ededed; max-width:75rem; margin:0 auto;}
.uploadimg{ float:left; width:20%; height:49px; display:block;overflow:hidden;}
.txtBox{ float:left; width:60%; height:49px;display:block; overflow:hidden;}
.shurutxt{ border:1px solid #ddd; height:37px; width:95%; -webkit-appearance:none;appearance:none; margin:5px;border-radius:5px; text-indent:10px; font-size:18px;}
.submitbtn{ -webkit-appearance:none;appearance:none; border:none; background:#463b7f; margin:5px; display:block; height:39px; width:80%; color:#fff;font-size:18px; border-radius:5px;}


.upload_btn {background:url(../images/jpeg.png) center center no-repeat #fff;background-size:20px; border:1px solid #463b7f; overflow:hidden; position:relative;width: 34px;height: 34px; border-radius:34px; margin:7px auto;}
.upload_btn input {opacity: 0;position: absolute;left: 0;top: 0;z-index: 10;overflow: hidden;height: 40px;width: 40px; }

.talkBox{ padding:50px 10px;text-align:left; display:block; max-width:75rem; margin:0 auto;}
.talkBox ul li{ padding:15px 0; overflow:hidden; display:block; overflow:hidden;}
.talkLeft{ float:left;margin-right:20px;} .talkRight{ float:right; margin-left:20px;}
.talkBox .talkImg{ width:60px; height:60px; background:url(../images/ren.png) no-repeat center center #eee; background-size:30px;border-radius:60px;}
.talkBox .talkImg img{ width:60px; height:60px; border-radius:60px;}
.talkBox .talkTxt{ border:1px solid #d8e6f2; max-width:50%; background:#fff; border-radius:5px; padding:10px; box-shadow:0 3px 3px #d8e6f2; display:block; line-height:30px; font-size:16px; color:#333; position:relative;}
.talkBox .talkTxt .leftjiao{width: 0;height: 0;border-top: 5px solid transparent;border-right: 10px solid #ccc; border-bottom: 5px solid transparent; position:absolute; left:-10px; top:10px; display:block;}
.talkBox .talkTxt .rightjiao{width: 0;height: 0;border-top: 5px solid transparent;border-left: 10px solid #d8e6f2; border-bottom: 5px solid transparent; position:absolute; right:-10px; top:10px; display:block;}
.talkBox .talkTxt img{ width:100%; display:block;}
.talkBox .talkTxtRR{ background:#eaf2fa; color:#3777b3;}

#imglist li img.wh60 {margin: 0 auto;display: block;width: 60px;height: 60px;}
.post_imglist li {position:relative;float:left;padding: 0 10px 5px 0;line-height: 38px; width:60px; height:60px; margin-bottom:10px;}
.post_imglist li .del {position: absolute;right: 5px;top: -10px;background:url(../images/shanchu2.png) no-repeat 15px 0;background-size: 23px auto;width: 40px;height: 40px;display: inline-block; }
.post_imglist li .p_img img {padding: 2px;border: 1px solid #DDD;height:54px;width:54px;}
.post_imglist li .pic_time {display: inline-block;width: 60px;height: 60px;position: relative; }
.post_imglist li .pic_time em {display: inline-block;width: 100%;height: 25%;line-height: 15px;font-size: 12px;color: #fff;background-color: #F1484A;position: absolute;top: 22px;left: 0; }

.bannerImg{ overflow:hidden; width:100%; display:block; max-width:75rem; margin:0 auto; padding-top:44px; border-bottom:1px solid #eee;}
.bannerTou{ height:80px; overflow:hidden; float:left; width:24%;}
.bannerTou img{ width:60px; height:60px; border-radius:60px; padding:10px; margin:7px auto;}
.bannerInfo{ float:right; width:76%; padding:10px 0; background:url(../images/jiantouRight.png) no-repeat 95% center; background-size:10px 17px;}
.bannerInfo p{ line-height:25px; font-size:14px; font-weight:normal; color:#999;}
.bannerInfo p strong{ line-height:25px; font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#463b7f; font-weight:normal;}
.bannerInfo p span{ font-size:14px; color:#464646;font-family:Arial, Helvetica, sans-serif; }

.tagBox{ padding:10px 5px; border-bottom:10px solid #eee;}
.tagBox p{color:#999;font-size:12px; }
.tagBox p span{ border:1px solid #eee; padding:3px 10px; margin:5px; border-radius:20px; display:inline-block;}
.tagBox p span.lanse{ border-color:#6abde4; color:#3eade0;}
.tagBox p span.hongse{ border-color:#ea93e7; color:#dd6dd9;}
.tagBox p span.hongse2{ border-color:#f66; color:#f66;}
.tagBox p span.huangse{ border-color:#f3c57c; color:#f9a015;}
.tagBox p span.lvse{ border-color:#a1e1ad; color:#30d67d;}
.tagBox p span.zise{ border-color:#17dbf2; color:#17dbf2;}
.tagBox p em.qianbi{ background:url(../images/qianbi.png) no-repeat 0 center; width:18px; height:20px; line-height:20px; background-size:14px; display:inline-block; float:left;}
.tagBox a{color:#999;}

.adminNav{ overflow:hidden; display:block;}
.adminNav ol{ float:left; width:50%; display:block; text-align:center;}
.adminNav ol div{ margin:0 auto; font-size:16px; border-bottom:1px solid #eee; border-left:1px solid #eee; color:#666;}
.adminNav ol span{ width:60px; height:50px; padding-top:20px; margin:0 auto; display:block;}
.adminNav ol span.icon01{ background:url(../images/ordericon.png) no-repeat center center; height:50px; display:block; background-size:30px;}
.adminNav ol span.icon02{ background:url(../images/jifen.png) no-repeat center center; height:50px; display:block; background-size:36px;}
.adminNav ol span.icon03{ background:url(../images/jilu.png) no-repeat center center; height:50px; display:block; background-size:34px;}
.adminNav ol span.icon04{ background:url(../images/liao2.png) no-repeat center center; height:50px; display:block; background-size:32px;}
.adminNav ol p{ line-height:20px; font-size:16px; color:#666; text-align:center; padding-bottom:20px;}

.adminInfo{ padding-top:44px; display:block; overflow:hidden;}
.adminInfoCon{border-top:10px solid #eee;}
.adminInfoCon p{ padding:0 12px; border-bottom:1px solid #eee; overflow:hidden; display:block; font-size:14px; color:#999; line-height:44px;}
.adminInfoCon p span{ float:right; font-family:Arial, Helvetica, sans-serif; color:#333;}

/*弹出层*/
.maskbg{ width:100%; height:100%; background:rgba(0,0,0,0.8); position:fixed; left:0; top:0; right:0; bottom:0; z-index:9999; display:block; animation:none 0.2s ease; -webkit-animation:none 0.2s ease;}
.sku-layout{ width:100%;overflow:hidden;position: absolute;left:0px; right:0px; bottom:0px; opacity:1; transform:translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); z-index:10000; background:#fff;-webkit-backface-visibility:hidden;
-webkit-perspective:1000;}
.login-lrlz-box{position:absolute;left:5%;top:15%;width:90%; background:#fff; z-index:999990; display:block; border-radius:5px;}
.login-lrlz-box h2{line-height:44px; height:44px; display:block; font-size:1.8rem; font-weight:normal; text-align:center; background:#b5aa83;border-radius:5px 5px 0 0; color:#fff;}
.login-lrlz-input{ padding:5px 10px 10px;overflow-y:scroll; overflow-x:hidden; height:auto; max-height:300px;display:block;}
.login-lrlz-btn{ width:100%; display:block; overflow:hidden;border-top:1px solid #eee; height:44px;}
.login-lrlz-btn ol{ float:left; width:50%; height:44px; display:block;}
.login-lrlz-btn ol span{ display:block; height:44px;}
.subbtn{ width:100%; height:44px; background:#463b7f; font-size:1.8rem; color:#fff; line-height:44px; text-align:center;border-radius:0 0 5px 0;}
.quxiaobtn{ width:100%; height:44px; background:#f2f2f2; font-size:1.8rem; color:#666; line-height:44px; text-align:center;border-radius:0 0 0 5px;}
.login-lrlz-tag{ border:none; padding:0;}
.login-lrlz-tag strong{ font-size:1.6rem; color:#333; line-height:30px; font-weight:normal;}
.login-lrlz-tag .shuru{ width:80px; height:20px; border:none;background:#fff; -webkit-appearance:none;color:#666; line-height:20px; font-size:1.2rem;}

.teltips{ padding:40px 10px; display:block; overflow:hidden;}
.teltips p{ font-size:1.6rem; color:#333; text-align:left; font-family:Arial, Helvetica, sans-serif;}

.emailcon{ padding:10px;}
.emailcon p{-webkit-appearance:none; width:100%; display:block; font-size:1.4rem; color:#666; line-height:30px;}

.bgdong{-webkit-animation:dongbg 0.5s ease;animation:dongbg 0.5s ease;}
@keyframes dongbg{0%{ opacity:0;}100%{ opacity:1;}}
@-webkit-keyframes dongbg{0%{ opacity:0;}100%{ opacity:1;}}

.showbg{-webkit-animation:showbg 0.5s ease;animation:showbg 0.5s ease;}
@keyframes showbg{
	0%{ -webkit-transform:translateY(100%);transform:translateY(100%);}
	100%{ -webkit-transform:translateY(0);transform:translateY(0);}
}
@-webkit-keyframes showbg{
	0%{ -webkit-transform:translateY(100%);transform:translateY(100%);}
	100%{ -webkit-transform:translateY(0);transform:translateY(0);}
}
.showbg2{animation:showbg2 0.6s linear; -webkit-animation:showbg2 0.6s linear;}
@keyframes showbg2{
	0%{ transform:translateY(0); -webkit-transform:translateY(0);}
	100%{ transform:translateY(200%); -webkit-transform:translateY(200%);}
}
@-webkit-keyframes showbg2{
	0%{ transform:translateY(0); -webkit-transform:translateY(0);}
	100%{ transform:translateY(200%); -webkit-transform:translateY(200%);}
}

.sosoBox{ line-height:44px; height:44px; display:block; padding:5px 10px; overflow:hidden;}
.sosoBox .txt{ width:99%; height:30px; border:none; background:url(../images/soso.png) no-repeat 10px center #fff; background-size:18px; border-radius:35px; -webkit-appearance:none;color:#666; line-height:30px; display:block; text-indent:35px; margin-top:7px; font-size:1.4rem; overflow:hidden;}
.gukebox{display:block; background:#eeebfc; height:32px; }
.gukebox ol{ float:left; width:33.33%; height:32px; display:block; text-align:center;}
.gukebox ol span{ border-left:1px solid #ada5d7; border-right:1px solid #fff;display:block; line-height:32px; font-size:1.4rem; color:#666; float:none; width:auto; background:none;}
.gukebox ol span.cur{ border-bottom:1px solid #463b7f; height:32px; line-height:32px; display:block; color:#463b7f;}

.contact{padding-bottom:55px; display:block;}
.contact .nameBox{ background:none;}
.contact .zimu{ border-bottom:none; background:#36374b; height:30px; margin-top:10px; line-height:30px; overflow:hidden; padding:0;}
.contact .zimu bdo{ font-size:1.6rem; font-family:Arial, Helvetica, sans-serif; color:#fff;padding-left:10px;}

.adminMa ul li{ border-bottom:10px solid #eee;}
.adminMa .nameBox{ background:url(../images/erweima.png) no-repeat 98% center; background-size:28px;}

.paylist{overflow:hidden; display:block; border-bottom:10px solid #eee;}
.paylist ol{ line-height:44px; border-bottom:1px solid #eee; display:block; padding:3px 10px; font-size:1.5rem; color:#333; height:44px; overflow:hidden;}
.paylist ol span{ float:right;}
.adminCon01{ width:20px; height:20px; background:url(../images/jiang.png) no-repeat 0 center; background-size:20px; float:left; display:inline-block; margin-top:11px;padding-right:5px;}
.adminCon02{ width:20px; height:20px; background:url(../images/ma.png) no-repeat 0 center; background-size:20px; float:left; display:inline-block;margin-top:11px; padding-right:5px;}
.adminCon03{ width:20px; height:20px; background:url(../images/qian.png) no-repeat 0 center; background-size:20px; float:left; display:inline-block;margin-top:11px; padding-right:5px;}
.adminCon04{ width:20px; height:20px; background:url(../images/yongjin.png) no-repeat 0 center; background-size:20px; float:left; display:inline-block;margin-top:11px; padding-right:5px;}
.adminCon05{ width:20px; height:20px; background:url(../images/rank.png) no-repeat 0 center; background-size:20px; float:left; display:inline-block;margin-top:11px; padding-right:5px;}
.adminCon06{ width:20px; height:20px; background:url(../images/renwu.png) no-repeat 0 center; background-size:20px; float:left; display:inline-block;margin-top:12px; padding-right:5px;}


.paylist ol p{ background:url(../images/jiantouRight.png) no-repeat 99% center; background-size:10px 17px; display:block;}
.paylist ol p span{ font-size:12px; color:#dd5b39; font-family:Arial, Helvetica, sans-serif; padding-right:25px;}
