@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutE.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" href="/Bcj/points/css/jifen.css" rel="stylesheet" />
    <title>常见问题</title>
</head>

<body>
    <div class="jifen-zhidu">
        <h2>常见问题</h2>
        <p>
            <strong>一、会员基础信息</strong>
            1.我为什么要激活我的会员账户？<br />
            <em>为了保证您的个人积分账户安全并确认您的有效信息，激活后即可获取您的积分兑礼密码。同时凭您入会时登记的手机号码即可享受佰草集会员权益。</em>
            <br />2.我可以通过什么方式完成激活？<br />
            <em>
                目前有三种方式进行激活（仅限使用入会时登记的手机号码）：<br />
                短信激活：编辑JH发送至106904851013；<br />
                微信激活：关注佰草集官方微信“佰草集心约会”，进入“会员臻享”版块；<br />
                网站激活：访问佰草集官网www.herborist.com.cn，进入“佰草社区-门店心约会”版块。
            </em>
            <br />3.我的注册资料安全吗？<br />
            <em>保护用户的隐私是佰草集的一项基本政策，在未征得您许可的情况下，佰草集不会对外披露您的个人信息.</em>
            <br />4.如何修改会员信息？<br />
            <em>如需更改您的手机号码、通信地址等个人基本信息，会员可登入佰草集心约会微信公众号自助修改您的个人信息。如需修改生日，则必须致电佰草集咨询热线进行修改，并仅限一次。</em>
            <br />5.如何修改我的入会城市和门店呢？<br />
            <em>您可以凭手机号及有效证件到新城市的任何门店申请，地区会将其原先会员手机号上报公司注销后，就可以办新卡（因为一个手机号只能对应一张会员卡）。20个工作日内会完成老卡注销及新卡办理（如遇非工作日或假期，办理时间相应顺延）。注销后，原会员卡内的积分失效，无法转入新卡。为了保证您的权益，建议您在注销前完成积分兑换。</em>
            <br />6.会员兑换密码忘记了怎么办？<br />
            <em>您可使用入会时登记的手机号码，编辑“HQMM”发送至“106904851013”进行查询，为了保证您的权益，请务必妥善保管您的兑换密码。</em>
            <br />7.会员绑定，接收到短信，但是无法绑定的？<br />
            <em>该类问题，我们后台手工处理，并会稍候补发微信提示。</em>
            <br />8.会员绑定，绑定后，发现卡号不对？<br />
            <em>该类问题，我们后台手工处理，并会稍候补发微信提示。</em>
            <br />9.如果退订短信，如何恢复接收短信？<br />
            <em>如顾客要求不再接受我们的短讯，可直接通过短讯退订。回复TD至106904851013即可。如果顾客想恢复退订功能，可回复KT至106904851013。</em>
        </p>
        <p>
            <strong>二、会员积分</strong>
            1.在非开卡城市进行购物是否有积分？<br />
            <em>会员资格全国有效，凭本人入会登记的手机号在任意佰草集专卖店、专柜都能享受购买积分。（但不包括网上商城，丝芙兰门店，及佰草集专营店。）</em>
            <br />2.积分清零通知规则<br />
            <em>积分到期前，我们会以短信的方式进行告知。（如在入会时未留下手机号码，或手机调整后未及时更改，您将不能收到通知信息。您也可以通过官网查询，或短信查询的方式，了解您的积分到期情况。</em>
            <br />3.积分与顾客实际消费不符
            <em>请会员提供消费凭据，我们会联系地区核查。请保留您的购物小票，如您对您的积分有异议，我们会根据您的消费凭据协助核查。</em>
            <br />4.两年前办的会员，积分已经清零，请问若顾客再持该卡消费，还可以积的上分吗？
            <em>再次购买可重新激活会员身份，同时可以享受购买积分。</em>
            <br />5.积分兑换，兑换成功，但是没有接收到微信提示；
            <em>该类问题，我们确认积分兑换后会补发微信提示信息。</em>
            <br />6.佰草心语上的积分有效期吗？
            <em>佰草心语的积分是没有有效期的哦，您不用担心积分过期的问题。</em>
            <br />7.我可以通过什么方式修改我的积分兑礼密码呢？
            <em>
                登录佰草集官方微信或官方网站进入您的会员账户，即可进行修改您的积分兑礼密码：
                <br />官方微信：关注佰草集官方微信“佰草集心约会”进入“会员臻享”版块；
                <br />官方网站：访问www.herborist.com.cn，进入“会员俱乐部-门店心约会”版块。
            </em>
        </p>
        <p>
            <strong>三、会员等级</strong>
            1.通过什么方法可以查询到会员的等级和积分情况呢？
            <em>
                A短信查询：使用入会时登记的手机号码，编辑“JFCX”发送至“106904851013”进行查询。（由于部分运营商的原因，部分号码段无法通过此方式进行查询。）
                <br />B 网站查询：会员可直接进入佰草集官网（www.herborist.com.cn），至会员中心-门店心约会俱乐部-积分查询的页面，登录后进行积分查询。（会员首次登录，需根据提示进行第一次登录激活）
                <br />C 门店查询：至附件的门店，凭本人入会登记的手机号进行查询。
                <br />D 电话查询：会员可致电佰草集咨询热线4008216188，8008202837（限固话），或任意门店进行积分查询。
                <br />E 微信查询：添加“佰草集心约会”官方微信，至“会员臻享-注册绑定”的页面，进行微信绑定，绑定后可至“会员臻享-我的档案”页面进行现有积分查询。
            </em>
            <br />2.请问会员两次购买满3000元后多长时间能收到系统发的升级短信？
            <em>
                我们会在您升级次月的月初发送告知短信，一般会在5号左右。但如果您在入会时没有填写准确的手机号码，或者是安装了一些短信拦截软件的话，是会影响您短信读取的。
                <br />是否需要我这边帮您再核对一下您的手机号码吗？
            </em>
    </div>

</body>
</html>
<script type="text/javascript" src="/Bcj/points/js/jquery.min.js"></script>
<script>
</script>
