@{
    ViewBag.Title = "ShowPointToGift";
    Layout = "~/Views/Shared/_LayoutE.cshtml";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link type="text/css" href="/Bcj/points/css/jifen.css" rel="stylesheet" />
    <title>积分中心</title>
</head>

<body class="bgclass">

    <div class="jifen-duihuan">
        <h2>2017年度积分兑礼活动</h2>
        <ul>
            <li><p><strong>兑礼时间</strong>2017年1月1日-12月31日</p></li>
            <li><p><strong>兑礼门店</strong>全国佰草集门店</p></li>
            <li><p><strong>起兑积分</strong>1500分</p></li>
            <li><p><strong>可兑换产品</strong>佰草集正价产品</p></li>
        </ul>
    </div>

    <div class="duihuanInfo">
        <p>(注：10分=1元)</p>
        <p>本位制预留兑换说明文案：佰草集品牌属于上海佰草集化妆品有限公司。上海佰草集化妆品有限公司是上海家化联合股份有限公司的全资子公司。1998年正式创立，“现代中草药古方个人护理专家 ”为概念推出市场。</p>
    </div>


</body>
</html>
<script type="text/javascript" src="/Bcj/points/js/jquery.min.js"></script>
<script>

</script>

